body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9; /* Fond plus clair */
}

.form {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #212247;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #ffffff; /* Fond clair pour le formulaire */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

.button-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between; /* Espacement entre les boutons */
}

.form label {
  display: block;
  margin-bottom: 0.5em;
  margin-top: 1em; /* Add margin-top to create spacing */
}
button:hover {
  background-color: #535bf2; /* Changement de couleur au survol */
  transition: background-color 0.3s; /* Transition fluide */
}